@model IEnumerable<AutoMaintenance.ViewModels.MaintenanceDateGroup>

@{
    ViewBag.Title = "Maintenance Statistics";
}
<h2>@ViewBag.Title.</h2>

<table>
    <tr>
        <th>
            Date
        </th>
        <th>
            Count
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaintenanceDate)
            </td>
            <td align="right">
                @item.MaintenanceCount
            </td>
        </tr>
    }
</table>